spp/spp-portal-wsmanager/wsdl/EServiceManager.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://vdccintitg.houston.hp.com/spp-services-web/services/EServiceManager" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://vdccintitg.houston.hp.com/spp-services-web/services/EServiceManager" xmlns:intf="http://vdccintitg.houston.hp.com/spp-services-web/services/EServiceManager" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="urn:EServiceManager" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="urn:EServiceManager"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="mapItem">
    <sequence>
     <element name="key" nillable="true" type="xsd:anyType"/>
     <element name="value" nillable="true" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <complexType name="Map">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="apachesoap:mapItem"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="urn:EServiceManager" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="EserviceRequest">
    <sequence>
     <element name="EServiceName" nillable="true" type="soapenc:string"/>
     <element name="httpRequestParameters" nillable="true" type="apachesoap:Map"/>
     <element name="siteName" nillable="true" type="soapenc:string"/>
     <element name="urlProdFromRequest" nillable="true" type="soapenc:string"/>
     <element name="urlTestFromRequest" nillable="true" type="soapenc:string"/>
     <element name="userContext" nillable="true" type="apachesoap:Map"/>
    </sequence>
   </complexType>
   <complexType name="EServiceResponse">
    <sequence>
     <element name="method" nillable="true" type="soapenc:string"/>
     <element name="openInNewWindow" type="xsd:boolean"/>
     <element name="parameters" nillable="true" type="apachesoap:Map"/>
     <element name="securityMode" type="xsd:boolean"/>
     <element name="simulationMode" type="xsd:long"/>
     <element name="url" nillable="true" type="soapenc:string"/>
     <element name="windowParameters" nillable="true" type="soapenc:string"/> 
     <element name="characterEncoding" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getEserviceInformationRequest">

      <wsdl:part name="esRequest" type="tns1:EserviceRequest"/>

   </wsdl:message>

   <wsdl:message name="getEserviceInformationResponse">

      <wsdl:part name="getEserviceInformationReturn" type="tns1:EServiceResponse"/>

   </wsdl:message>

   <wsdl:portType name="EServiceManagerWS">

      <wsdl:operation name="getEserviceInformation" parameterOrder="esRequest">

         <wsdl:input message="impl:getEserviceInformationRequest" name="getEserviceInformationRequest"/>

         <wsdl:output message="impl:getEserviceInformationResponse" name="getEserviceInformationResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="EServiceManagerSoapBinding" type="impl:EServiceManagerWS">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getEserviceInformation">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getEserviceInformationRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://eservice.webservice.spp.hp.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getEserviceInformationResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://vdccintitg.houston.hp.com/spp-services-web/services/EServiceManager" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="EServiceManagerWSService">

      <wsdl:port binding="impl:EServiceManagerSoapBinding" name="EServiceManager">

         <wsdlsoap:address location="http://vdccintitg.houston.hp.com/spp-services-web/services/EServiceManager"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
