spp/spp-portal-wsmanager/wsdl/UserGroupManager.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://vdccintitg.houston.hp.com/spp-services-web/services/UserGroupManager" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://vdccintitg.houston.hp.com/spp-services-web/services/UserGroupManager" xmlns:intf="http://vdccintitg.houston.hp.com/spp-services-web/services/UserGroupManager" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="urn:UserGroupManager" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="urn:UserGroupManager"/>
   <import namespace="http://vdccintitg.houston.hp.com/spp-services-web/services/UserGroupManager"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="mapItem">
    <sequence>
     <element name="key" nillable="true" type="xsd:anyType"/>
     <element name="value" nillable="true" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <complexType name="Map">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="apachesoap:mapItem"/>
    </sequence>
   </complexType>
   <complexType name="Vector">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="urn:UserGroupManager" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://vdccintitg.houston.hp.com/spp-services-web/services/UserGroupManager"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="UserGroupRequest">
    <sequence>
     <element name="siteName" nillable="true" type="soapenc:string"/>
     <element name="userContext" nillable="true" type="apachesoap:Map"/>
    </sequence>
   </complexType>
   <complexType name="UserGroupResponse">
    <sequence>
     <element name="groupList" nillable="true" type="impl:ArrayOf_xsd_anyType"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="http://vdccintitg.houston.hp.com/spp-services-web/services/UserGroupManager" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="urn:UserGroupManager"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_xsd_anyType">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:anyType[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getGroupsResponse">

      <wsdl:part name="getGroupsReturn" type="tns1:UserGroupResponse"/>

   </wsdl:message>

   <wsdl:message name="getGroupsRequest">

      <wsdl:part name="gRequest" type="tns1:UserGroupRequest"/>

   </wsdl:message>

   <wsdl:portType name="UserGroupManager">

      <wsdl:operation name="getGroups" parameterOrder="gRequest">

         <wsdl:input message="impl:getGroupsRequest" name="getGroupsRequest"/>

         <wsdl:output message="impl:getGroupsResponse" name="getGroupsResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="UserGroupManagerSoapBinding" type="impl:UserGroupManager">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getGroups">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getGroupsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://groups.webservice.spp.hp.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getGroupsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://vdccintitg.houston.hp.com/spp-services-web/services/UserGroupManager" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="UserGroupManagerService">

      <wsdl:port binding="impl:UserGroupManagerSoapBinding" name="UserGroupManager">

         <wsdlsoap:address location="http://vdccintitg.houston.hp.com/spp-services-web/services/UserGroupManager"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
